<!DOCTYPE html>
<html>

<head>
    <title>Budget</title>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{title}}</h1>

        <p>
            When talking about how to build a successful baseball team, the first thought that comes to mind may be
            signing more all-star players. In MLB, the all-star players with stable and outstanding performance are
            always so attractive that many baseball team managers try to recruit them for more wins. When a team gets
            more wins, the team can also gain lots of commercial profits from it. However, the high salaries of these
            all-star players would occupy a huge chunk of the salary cap ( a limit on the amount of money that a team
            can spend on players' salaries) and the team will face a salary cap squeeze. In this case, we want to know
            what are the results of the teams with this team-building strategy. Do the star players or high salary
            players on the team bring more wins for the teams?
        </p>
    </div>


    {{>footer}}
</body>

</html>