<!DOCTYPE html>
<html>

<head>
    <title>Improvement</title>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{title}}</h1>

        <p>
            We all know that practice makes perfect. For the players who have been in the league for several years, is
            it true that they get more experience and become a better player? And we could also know that there must be
            some players that cannot survive in the league because of injury or it is their athlete life get to the end.
            What is the percentage of them succeed to keep progressing during their player life?
        </p>
    </div>


    {{>footer}}
</body>

</html>