<!DOCTYPE html>
<html>

<head>
    <title>Main</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{title}}</h1>

        <p>
            Baseball is a very interesting and inspirational sport. A small ball has a very different result in
            everyone's hands. Just because there is no absolute victory in a baseball game, the David and Goliath
            contest is even more exciting. Through players’ efforts, they show us that anything could be possible during
            a ballgame and we should never give up until the last second of the game. It is this positive attitude that
            we admire.
        </p>
        <p>
            Besides, baseball is a sport in which teamwork matters. It is a sport that needs at least nine people to
            play
            at the same time. Every player plays an important part in their position for playing defense during a
            half-inning, and every player gets several chances to bat in a baseball game which scoring normally needs
            two consecutive hits. In this case, the batter needs good skills to bat and acquire the ability to attack
            good pitches on the field. Playing attack and playing defense are different kinds of scenarios. Teammates
            play defense together on the field but players are kind of fighting alone when standing on the batter’s box.
            Batters need to be prepared to face the challenge. It is like the situation in the real society. Sometimes
            you have to know how to be a team player and in some situations, you get to equip yourself with some skills
            which allow you to fight alone and survive.
        </p>
        <p>
            Based on the love of baseball, we focus on the data in Major League Baseball. We would like to extract
            information from the MLB statistics that might show the relationship and trend among player’s performance,
            salary and a team’s win rates, etc. We expect to find out some interesting facts about MLB within those
            data. Not only we could store those data in the backend database and display them on the frontend websites
            but we could also do some data analysis using the advantage of the database management system.
        </p>
    </div>

    <canvas id="qq"" width=" 400" height="400"></canvas>

    {{>footer}}

</body>


</html>