<!DOCTYPE html>
<html>

<head>
    <title>Pitching Type</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<style>
    .qChart {
        max-height: 600px;
        max-width: 700px;
    }
</style>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{title}}</h1>

        <p>
            We want to know which kind of pitch types has better performance in the league. In other words, we want to 
            know which pitch type can help pitchers lose less points. Moreover, we want to know if the result is different 
            or similar for each year.
            In the beginning, we exclude those pitchers who played <b>less than 10 games</b>. Since those pitchers do not have 
            enough information as a reference. 
            Second, since we want to know which pitch type can help pitchers lose less points, ERA would be a great 
            measurement in this analysis. 
            Hence, we find out the pitchers having <b>top 20% ERA</b> and the distribution of their pitch types. 
            <b>Define the type of pitcher</b> by the pitch type they most used ie. a “FF” pitcher pitched FF most in the year.
            By doing so, we can know the type of those “good” pitchers.
        </p>
    </div>
    
        <p>
            Here is a pie chart of the distribution of pitcher types and there are 107 pitchers totally in 2016.
        </p>
        
    <canvas class="qChart" id="qChart1" width="400" height="400"></canvas>
    
        <p>
            we are also interested in which pitch type can be our <b>second weapon</b>, besides four-seam fastballs. 
            Then, we start over the previous analysis, but exclude four-seam baseball. For the pitchers defined as 
            four-seam fastball pitcher, if they threw slider(SL) second most, they would be defined as a SL pitcher 
            in this time.
        </p>
        
    <canvas class="qChart" id="qChart2" width="400" height="400"></canvas>
    
        <p>
            <b>Slider(SL)</b>: a slider is a breaking ball pitch that tails laterally and down through the batter's hitting zone; 
            it is thrown with less speed than a fastball but greater than the pitcher's curveball.

            <b>Sinker(SI)</b>: a type of fastball which has significant downward and horizontal movement and is known for inducing 
            ground balls which means it is easier to make an out.

            <b>Two-seam Fastball(FT)</b>: a variant of the straight fastball. The pitch has the speed of a fastball and can also 
            include late breaking action.

            <b>Cutter(FC)</b>:  a type of fastball, designed to move slightly away from the pitcher's arm-side as it reaches 
            home plate. When thrown from a right-handed pitcher to a left-handed hitter, or a lefty pitcher to a righty 
            hitter, a cutter will quickly move in toward a hitter's hands. If the hitter swings, he often hits the ball 
            on the smaller part -- or handle -- of the bat, causing it to break. 

            <b>Curveball(CU)</b>: A curveball is a breaking pitch that has more movement. 
            It is thrown slower and with more overall break than a slider, so it is slower than any pitch type above.
            
            In conclusion, to be a good pitcher in MLB, even if you don’t depend on your four-seam fastball, you still 
            need the other versions of fastball like sinker, two-seam fastball or cutter. Or you need a great slider to 
            beat your opponents.
        </p>

    {{>footer}}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="/js/qualityChart.js"></script>
</body>

</html>
