<!DOCTYPE html>
<html>

<head>
    <title>Pitching Type</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<style>
    .qChart {
        max-height: 600px;
        max-width: 700px;
    }
</style>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{title}}</h1>

        <p>
            We all know that pitchers play a really important role in a baseball game. It is usually considered as the
            most significant factor that leads to the game result - win or lose. Most of the players in MLB are
            pitchers. As a result, they have to keep progressing and make a lot of efforts to stay in the league and win
            the game. Pitch types, pitching velocity and command are what a good pitcher should master. We would like to
            see how pitcher’s evolution on these three factors during MLB seasons. If the pitchers do not progress,
            their signature pitches might be less useful against batters because the batters, game analysts and coaches
            will research their pitches. Once the batters are getting used to the pitches, the pitchers might get into
            big trouble. We are gonna look into the pitching statistics in every game through several seasons. The
            statistics will show how the pitchers get involved and adjust their skills through the game season. On the
            other hand, we will especially show out the data patterns for star pitchers which might be a great sample of
            comparing with other pitchers.
        </p>
    </div>
    <p>chart1</p>
    <canvas class="qChart" id="qChart1" width="400" height="400"></canvas>
    <p>chart2</p>
    <canvas class="qChart" id="qChart2" width="400" height="400"></canvas>
    <p>conclusion</p>

    {{>footer}}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="/js/qualityChart.js"></script>
</body>

</html>
