<!DOCTYPE html>
<html>

<head>
    <title>Rated</title>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{title}}</h1>

        <p>
            It is obvious that high salary players are more likely to be more skillful and have better performance
            records than the average in the league. However, those players might get injured in the game and somehow get
            a non-expected poor performance during the game season. On the other hand, some players get a lower salary
            than the average because they are rookies or under-estimated by their previous gameplay records. They
            actually have the potential to bounce back in the future. In this case, we use salaries as the measurement
            of players and we want to know if the player deserves the salary, or the player is overpaid or underpaid.
        </p>
    </div>


    {{>footer}}
</body>

</html>