<!DOCTYPE html>
<html>

<head>
    <title>Pitching Velicity</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<style>
    .vChart {
        max-height: 600px;
        max-width: 700px;
    }
</style>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{title}}</h1>

        <p>
            All the pitchers have their maximum pitching velocity record. The maximum velocity using here means the
            pitcher has the ability to cost more effort and strength on a single power pitch. And it indicates that the
            pitchers are not likely to pitch like that for every pitch, it is related to the pitcher’s energy, stamina,
            etc. Especially for starter pitchers, they are responsible for pitching at least 5 innings or around 100
            pitches in a game. They would like to reasonably save energy and strength to promise a stable pitching
            performance through several innings but not all-in for every pitch. So, we are curious that when is the
            specific condition that a starter pitcher would like to give a power pitch? Is it the moment that their
            opponents get the chance to score or the moment they are facing an extraordinary batter?
        </p>
    </div>

    <canvas class="vChart" id="vChart1" width="400" height="400"></canvas>
    <canvas class="vChart" id="vChart2" width="400" height="400"></canvas>

    {{>footer}}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="/js/velicityChart.js"></script>
</body>

</html>