<header>
    <a href="/">Baseball Player Analysis</a>
    <a href="/budget">Budget</a>
    <a href="/rated">Rated</a>
    <a href="/improvement">Improvement</a>
    <a href="/pitching-velicity">Pitching Velicity</a>
    <a href="/pitching-quality">Pitching Quality</a>
</header>