<header>
    <div id="title"><a href="/">Baseball Player Analysis</a></div>
    <a href="/budget">Budget</a>
    <a href="/rated">Rated</a>
    <a href="/improvement">Improvement</a>
    <a href="/pitching-velocity">Pitching Velocity</a>
    <a href="/pitching-quality">Pitching Types</a>
</header>
